$color-light: #fff;
$color-dark: #2f3542;
$color-success: #26de81;

$font-text: 'Poppins', sans-serif;

$radius: 5px;
$base-size: 30px;
$transition: all 0.5s;

$clock-font-size: 40px;
$button-font-size: 25px;
$margin-size: 50px;
